<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>Hola, nerd!</h1>
  <h2>Felices 7 meses!</h2>
  <p>Este es el regalo, espero que te haya gustado!</p>
  <p>No hay nada interesante aquí... ¿creo? 🤔</p>
  <pre id="donut"></pre>
  <!--
    Bienvenida a este jueguito que me arme! para nada robado the HackTheBox o similares, nono
    Como estamos recien arrancando y capaz nunca jugaste alguno asi te voy contando, la idea es que llegues al final (vaya a saber uno cual es)
    Te estarás preguntando como mierda vas a hacer eso? Sos una programadora (muy hermosa btw), descubrilo vos!
    Te acordas el spoiler que te mande? Se te ocurre alguna manera de llegar a esa misma página desde aca? 
    Yo siempre me quejo de no encontrar las palabras para explicarte lo que siento por vos, tal vez un login las esconda... 

    PD: como buen pibe de sistemas, avisame si te quedas trabada!
    -->
    <script src="main.js"></script>   
</body>
</html>
